@import "./icon.css";

* {
    box-sizing: border-box;
}

html, body, #app {
    background: #F4F4F4;
}

html {
    font-family: sans-serif;
}

html, body, header, section, footer, div, ul, ol, li, img, a, span, em, del, legend, center, strong, var, fieldset, form, label, dl, dt, dd, cite, input, hr, time, mark, code, figcaption, figure, textarea, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    border: 0;
    padding: 0;
    font-style: normal;
}

html, body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    background-color: #fff;
}

nav, article, aside, details, main, header, footer, section, fieldset, figcaption, figure {
    display: block;
}

img, a, button, em, del, strong, var, label, cite, small, time, mark, code, textarea {
    display: inline-block;
}

header, section, footer {
    position: relative;
}

ol, ul {
    list-style: none;
}

input, button, textarea {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
    /*-webkit-appearance:none;*/
    background-color: rgba(0, 0, 0, 0);
}

span {
    display: inline-block;
}

a:active, a:hover {
    outline: 0;
}

a, a:visited {
    text-decoration: none;
}

label, .wordWrap {
    word-wrap: break-word;
    word-break: break-all;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/***********************/

[v-cloak] {
    display: none;
}

input, button {
    outline: none !important;
}

.map-container {
    background: #FCF9F2;
}

:root {
    --TRANSITION: linear 0.2s;
    --COLOR-PASSIVE: #1296db;
    --COLOR-GREEN: #26A121;
    --COLOR-POSITIVE: #EE3721;
    --COLOR-GRAY: #E2E2E2;
}

.eui-divider {
    width: 100%;
    display: block;
    height: 0.1rem;
    background: #F4F4F4;
}

.eui-container {
    margin-bottom: 0.10rem;
}

.eui-transparent {
    background: transparent !important;
}

.eui-important {
    font-size: 0.16rem !important;
    line-height: 0.23rem;
    color: #444444 !important;
}

.eui-normal {
    font-size: 0.14rem !important;
    line-height: 0.20rem;
    color: #444444 !important;
}

.eui-unimportant {
    font-size: 0.12rem !important;
    line-height: 0.18rem;
    color: #777777 !important;
}

.eui-content {
    padding: 0.10rem 0.16rem;
}

.eui-content-min {
    padding: 0 0.10rem;
}

.eui-content .eui-container {
    border: none !important;
}

.eui-bg-passive {
    background: var(--COLOR-PASSIVE) !important;
    color: #FFFFFF !important;
}

.eui-bg-green {
    background: var(--COLOR-GREEN) !important;
    color: #FFFFFF !important;
}

.eui-bg-positive {
    background: var(--COLOR-POSITIVE) !important;
    color: #FFFFFF !important;
}

.eui-bg-gray {
    background: var(--COLOR-GRAY) !important;
    color: #777777 !important;
}

.eui-color-positive {
    color: var(--COLOR-POSITIVE) !important;
}

.eui-color-passive {
    color: var(--COLOR-PASSIVE) !important;
}

.eui-color-gray {
    color: #777777 !important;
}

.eui-bordered-positive,
.eui-bordered.eui-bg-positive {
    border: 0.01rem solid var(--COLOR-POSITIVE);
}

.eui-bordered-passive,
.eui-bordered.eui-bg-passive {
    border: 0.01rem solid var(--COLOR-PASSIVE);
}

.eui-bordered-gray {
    border: 0.01rem solid #ECECEC;
}

.eui-money {
    color: var(--COLOR-POSITIVE) !important;
}

.eui-avatar {
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 100%;
}

.eui-image {
    width: 100%;
    display: block;
    clear: both;
}

.eui-icon-nav-right {
    margin-right: -0.05rem;
}

.eui-radius {
    border-radius: 0.04rem;
}

.eui-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.eui-btns.eui-btns-vertical .eui-btn:not(:first-child) {
    margin-top: 0.15rem;
}

.eui-btns.eui-btns-horizontal {
    display: flex;
    padding: 0;
    width: 100%;
    height: 100%;
}

.eui-btns.eui-btns-horizontal .eui-btn-small {
    padding: 0 0.16rem;
    flex: 0;
}

.eui-btns.eui-btns-horizontal .eui-btn-large {
    flex: 1;
}

.eui-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0.45rem;
    font-size: 0.17rem;
    color: #444444;
    letter-spacing: 0.02rem;
    border-radius: 0.04rem;
}

.eui-btn.eui-btn-round {
    border-radius: 0.45rem;
}

.eui-btn.eui-btn-icon-vertical {
    flex-direction: column;
}

.eui-btn.eui-btn-icon-vertical span {
    height: 0.20rem;
    line-height: 0.20rem;
    font-size: 0.13rem;
}

.eui-btn.disabled {
    opacity: 0.5;
}

.eui-btn-input {
    display: flex;
    align-items: center;
}

.eui-btn-input input {
    flex: 1;
    padding: 0.05rem 0.16rem;
    height: 0.40rem;
    background: none;
    border-radius: 0.40rem 0 0 0.40rem;
    color: #777777;
}

.eui-btn-input .eui-btn-submit {
    width: 0.80rem;
    height: 0.40rem;
    line-height: 0.40rem;
    text-align: center;
    border-radius: 0 0.40rem 0.40rem 0;
}

.eui-bottom {
    position: fixed;
    display: flex;
    z-index: 77777;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.60rem;
    border-top: 0.01rem solid var(--COLOR-GRAY);
    background: #FFFFFF;
}

.eui-list-header {
    margin-top: 0.10rem;
    padding: 0.10rem 0.16rem;
    color: #777777;
    font-size: 0.15rem;
    background: #f4f4f4;
}

.eui-list {
    padding-left: 0.16rem;
}

.eui-list .eui-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 0.45rem;
    padding: 0.10rem 0.16rem 0.10rem 0;
}

.eui-list .eui-item {
    border-bottom: 0.01rem solid var(--COLOR-GRAY);
}

.eui-list .eui-item .eui-text {
    flex: 1;
}

.eui-list .eui-item .eui-item-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 0.10rem;
    font-size: 0.16rem;
    color: #555555;
}

.eui-list .eui-item .eui-item-left .eui-text:not(:first-child) {
    padding-left: 0.10rem;
}

.eui-list .eui-item .eui-item-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0.10rem;
    font-size: 0.13rem;
    color: #AAAAAA;
    text-align: right;
}

.eui-list .eui-item .eui-item-right .eui-icon {
    margin-left: 0.10rem;
}

.eui-list .eui-item .eui-item-body {
    flex: 1;
    overflow: hidden;
    color: #777777;
}

.eui-input {
    display: flex;
    width: 100%;
    font-size: 0.16rem;
    align-items: center;
    padding: 0;
    height: 0.30rem;
    min-height: 0.30rem;
    color: #777777;
}
.eui-number-box {
    display: flex;
    height: 0.25rem;
    min-height: 0.23rem;
    background: #FFFFFF;
}

.eui-number-box .eui-number-modifier {
    width: 0.23rem;
    height: 0.23rem;
    line-height: 0.23rem;
    text-align: center;
    font-size: 0.18rem;
    border: 0.01rem solid #cccccc;
    color: #cccccc;
}

.eui-number-box .eui-number-modifier:first-child {
    border-radius: 0.02rem 0 0 0.02rem;
}

.eui-number-box .eui-number-modifier:last-child {
    border-radius: 0 0.02rem 0.02rem 0;
}

.eui-number-box .eui-number-input {
    flex: 1;
    padding: 0;
    width: 0.37rem;
    height: 0.23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cccccc;
    border-top: 0.01rem solid #cccccc;
    border-bottom: 0.01rem solid #cccccc;
}

.eui-number-box .eui-number-input input {
    text-align: center;
}

.eui-grids .eui-grid-row {
    display: flex;
    align-items: center;
}

.eui-grids .eui-grid-row:not(:last-child) {
    border-bottom: 0.01rem solid var(--COLOR-GRAY);
}

.eui-grids .eui-grid-row .eui-grid-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.10rem 0;
    height: 0.76rem;
    background: #FFFFFF;
    overflow: hidden;
}

.eui-grids .eui-grid-row .eui-grid-column:not(:first-child) {
    border-left: 0.01rem solid var(--COLOR-GRAY);
}

.eui-grids .eui-grid-row .eui-grid-column .eui-grid-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.eui-grids .eui-grid-row .eui-grid-column .eui-grid-content.eui-grid-content-vertical {
    flex-direction: column;
}

.eui-grids .eui-grid-row .eui-grid-column .eui-grid-content.eui-grid-content-vertical .eui-grid-column-label {
    overflow: hidden;
    width: 100%;
    padding-top: 0.05rem;
}

.eui-grids .eui-grid-row .eui-grid-column .eui-grid-content.eui-grid-content-horizontal .eui-grid-column-label {
    flex: 1;
    padding-left: 0.05rem;
    text-align: left;
    overflow: hidden;
}

.eui-info-list .eui-info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eui-card {
    padding: 0 0.10rem 0.05rem;
    background: #FFFFFF;
}

.eui-card .eui-card-image {
    width: 100%;
    margin-left: -0.10rem;
    margin-right: -0.10rem;
}

.eui-card .eui-card-header {
    padding: 0.10rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eui-card .eui-card-header > div {
    display: flex;
    align-items: center;
}

.eui-card .eui-card-header .eui-card-header-label {
    width: 0.04rem;
    height: 0.18rem;
    margin-right: 0.05rem;
    background: var(--COLOR-PASSIVE);
    border-radius: 0.02rem;
}

.eui-card .eui-card-header .eui-icon {
    margin-right: 0.07rem;
}

.eui-card .eui-card-content {
    border-top: 0.01rem dashed var(--COLOR-GRAY);
    padding: 0.10rem 0;
    word-break: break-all;
    color: #444444;
    font-size: 0.14rem;
}

.eui-card .eui-card-footer {
    padding: 0 0.10rem 0.05rem 0;
}

.eui-card-image {
    margin: 0 0.10rem 0.10rem 0.10rem;
    background: #FFFFFF;
    overflow: hidden;
}

.eui-card-image .eui-card-header {
    padding: 0.10rem 0.10rem 0;
}

.eui-card-image .eui-card-header img {
    width: 100%;
}

.eui-card-image .eui-card-content {
    padding: 0 0.10rem 0.10rem 0.10rem;
    word-break: break-all;
}

.eui-card-content .eui-list {
    padding-left: 0;
}

.eui-card-content .eui-list .eui-item {
    padding-right: 0;
}

.eui-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.42rem;
    font-size: 0.13rem;
    color: #999999;
    background: transparent !important;
}

.eui-loading .loading-line {
    margin: 0 0.10rem;
    width: 0.50rem;
    border-bottom: 0.01rem solid #DDDDDD;
}

.eui-loading text {
    margin: 0 0.10rem;
    width: 0.50rem;
    border-bottom: 0.01rem solid #DDDDDD;
}

.eui-loading.scroll-disabled {
    display: none;
}

.eui-loading > .eui-icon-loading {
    margin-right: 0.10rem;
    width: 0.32rem;
    height: 0.32rem;
    animation: eui-loading 1.5s infinite normal linear;
}

@keyframes eui-loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}

.eui-header {
    background: #fff;
    color: var(--COLOR-PASSIVE);
    /*border-bottom: 0.01rem solid var(--COLOR-GRAY);*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.eui-header .header {
    width: 100%;
    height: 0.45rem;
    display: flex;
    align-items: center;
}

.eui-header .header .header-left, .eui-header .header .header-right, .eui-header .header .header-title {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.45rem;
    height: 0.45rem;
    text-align: center;
}

.eui-header .header .header-left, .eui-header .header .header-right {
    display: flex;
    align-items: center;
}

.eui-header .header .header-title {
    width: calc(100% - 0.88rem);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.15rem;
}
